body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: "Circular", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    padding-bottom: 60px;
    position: relative;
    min-height: 90.0vh;
}

.container {
    max-width: 1000px;
    margin: 30px auto 30px auto;
}
